td {
    border: solid black;
    padding: 1em 3em;
    margin: 1em 0em;
    border-collapse: collapse;
}
#month{
    text-align: center;
}
table {
    margin: 1em 13.5em;
    border-collapse: collapse;
}
.calTd {
    height: 5em;
}
#addMonth{
    margin-left: 90em;
}
#subMonth{
    margin-left: 20em;
}